  <ion-header>
    <ion-toolbar [color]="dynamicColor">
      <ion-title>
        Prueba Iteriam Mobile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

