
<ion-searchbar searchIcon="search" animated="true" (ionChange)="search($event)"
  placeholder="Búsqueda..."></ion-searchbar>
  <!-- <b>Cargando.... {{loading$ | async | json}}</b> -->
  <sm-list-images></sm-list-images>
<!-- <ion-content>
  <div class="container">
    <ion-virtual-scroll [items]="myPageListFilter" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;" class="sm_list_image">
        <sm-item-images [itemImage]="item"></sm-item-images>
      </ion-card>
    </ion-virtual-scroll>
  </div>
</ion-content> -->