.item-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;

    .image {
        text-align: justify;

        >img {
            border-radius: 20px;
            width: 300px;
            box-shadow: 5px 5px 5px 0px var(--ion-color-prueba-img);
            filter: drop-shadow(5px 5px 5px var(--ion-color-prueba-img-filter));
        }
    }

    .title {
        font-size: 100px;
        line-height: 110%;
        color: var(--ion-color-prueba-tint);
        font-family: "Gotham", "arial", sans-serif;
        letter-spacing: -2px;
    }
    .content {
        font-size: 15px;
        color: var(--ion-color-prueba-dark);
        font-family: "Gotham", "arial", sans-serif;
    }
}

@media (max-width: 960px) {
    .item-container {
        display:block;
        grid-template-columns: 100%;
        grid-template-rows: auto;

        .image {
            text-align: center;

            >img {
                border-radius: 50%;
                width: 300px;
            }
        }
        .title {
            font-size: 40px;
            line-height: 110%;
            color: var(--ion-color-prueba-tint);
            font-family: "Gotham", "arial", sans-serif;
            letter-spacing: -2px;
        }
    }
}