<div *ngIf="itemImage" class="item-container">
  <div class="image">
    <img [src]="itemImage.photo">
  </div>
  <ion-card-header>
    <ion-card-title class="title">{{ itemImage.id }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="content">{{ itemImage.text }}</ion-card-content>
</div>