

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row class="ma_cards_container">
      <ion-col size="12" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
        <!-- MODELO TARJETA 02-->
        <ion-card   [ngClass]="'ma_product_type_7'">
          <div class="ma_transparent_bk"></div>
          <ion-card-header>
            <ion-card-title>
              Title <span>(item.Group)</span>
            </ion-card-title>
            <ion-card-subtitle>
              <span>Subtitle</span>
              <div><strong>Tus coberturas</strong></div>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div>
              <span>
                  Nombre de la cobertura
                </span>
            </div>
            <div class="ma_card_footer_container">
              <div > <!-- *ngIf="item.Contribution" -->
                <p class="ma_fund_data">Fondo acumulado</p>
                <p>35 euros</p> 
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
