.sm_list_image {
    height: 380px;
    padding: 48px 30px;
    border-radius: 0;
  }

  .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-dt {
    height: 30px;
    font-weight: bold;
  }
  
  .example-dd {
    height: 30px;
  }
  
  
  @media (max-width: 960px) {
    .sm_list_image {
      height: 550px;
      padding: 48px 30px;
      border-radius: 0;
      margin-bottom: 15px;
    }
  }