<!-- <ion-content>
  <div class="container">
    <ion-virtual-scroll [items]="items$ | async" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;" class="sm_list_image">
        <sm-item-images [itemImage]="item"></sm-item-images>
      </ion-card>
    </ion-virtual-scroll>
  </div>
</ion-content> -->
<div class="container">
  <sm-item-images [itemImage]="item" *ngFor="let item of items$ | async"></sm-item-images>
</div>