.ma_waiting {
    background-image: url(../../../../assets/img/procesando.gif);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: contain;
    opacity: 0.7;
    margin: 0 auto;
  }

  #loading-spinner {
    animation: loading-spinner 1.5s linear infinite;
  }
  body{
    background-color: black;
  }
  div {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50%;
    overflow: hidden;
  }
  img {
        /* filter: grayscale(100%) brightness(300%);    */ 
        width: 150px;     
      }

  @keyframes loading-spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}